@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    font-family: 'Roboto Mono', cursive;
  }

.modal{
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
}

.figure-container {
  fill: transparent;
  @apply stroke-stone-700;
  opacity: 30%;
  stroke-width: 5px;
  stroke-linecap: round;
}

[data-theme="dark"] .figure-container {
  @apply stroke-stone-300;
  opacity: 40%;
}

[data-theme="coffee"] .figure-container {
  @apply stroke-stone-200;
}

[data-theme="dark"] span{
  @apply text-stone-200
}

[data-theme="dark"] p {
  @apply text-stone-300
}

.tooltip:before{
  color:white
}